.comet {
border-radius: 50%;
 background: white;
 position: absolute;
 animation: comet linear infinite;
 z-index: 0;
}

.comet:nth-child(1) {
  width: 9px;
  height: 9px;
  animation-duration: 42s;
  animation-delay: -11s;
  top: 0vh;
}
.comet:nth-child(2) {
  width: 4px;
  height: 4px;
  animation-duration: 41s;
  animation-delay: -18s;
  top: 59vh;
}
.comet:nth-child(3) {
  width: 5px;
  height: 5px;
  animation-duration: 43s;
  animation-delay: -9s;
  top: 34vh;
}
.comet:nth-child(4) {
  width: 5px;
  height: 5px;
  animation-duration: 20s;
  animation-delay: -13s;
  top: 40vh;
}
.comet:nth-child(5) {
  width: 7px;
  height: 7px;
  animation-duration: 38s;
  animation-delay: -17s;
  top: 77vh;
}
.comet:nth-child(6) {
  width: 6px;
  height: 6px;
  animation-duration: 35s;
  animation-delay: -1s;
  top: 87vh;
}
.comet:nth-child(7) {
  width: 5px;
  height: 5px;
  animation-duration: 38s;
  animation-delay: -16s;
  top: 0vh;
}
.comet:nth-child(8) {
  width: 5px;
  height: 5px;
  animation-duration: 37s;
  animation-delay: -16s;
  top: 41vh;
}
.comet:nth-child(9) {
  width: 7px;
  height: 7px;
  animation-duration: 21s;
  animation-delay: -37s;
  top: 99vh;
}
.comet:nth-child(10) {
  width: 7px;
  height: 7px;
  animation-duration: 29s;
  animation-delay: -15s;
  top: 48vh;
}
.comet:nth-child(11) {
  width: 6px;
  height: 6px;
  animation-duration: 35s;
  animation-delay: -16s;
  top: 34vh;
}
.comet:nth-child(12) {
  width: 9px;
  height: 9px;
  animation-duration: 45s;
  animation-delay: -3s;
  top: 65vh;
}
.comet:nth-child(13) {
  width: 8px;
  height: 8px;
  animation-duration: 32s;
  animation-delay: -4s;
  top: 61vh;
}
.comet:nth-child(14) {
  width: 10px;
  height: 10px;
  animation-duration: 37s;
  animation-delay: -37s;
  top: 70vh;
}
.comet:nth-child(15) {
  width: 9px;
  height: 9px;
  animation-duration: 25s;
  animation-delay: -27s;
  top: 51vh;
}
.comet:nth-child(16) {
  width: 8px;
  height: 8px;
  animation-duration: 26s;
  animation-delay: -30s;
  top: 65vh;
}
.comet:nth-child(17) {
  width: 10px;
  height: 10px;
  animation-duration: 27s;
  animation-delay: -32s;
  top: 14vh;
}
.comet:nth-child(18) {
  width: 8px;
  height: 8px;
  animation-duration: 44s;
  animation-delay: -34s;
  top: 78vh;
}
.comet:nth-child(19) {
  width: 8px;
  height: 8px;
  animation-duration: 18s;
  animation-delay: -38s;
  top: 17vh;
}
.comet:nth-child(20) {
  width: 10px;
  height: 10px;
  animation-duration: 21s;
  animation-delay: -16s;
  top: 59vh;
}
.comet:nth-child(21) {
  width: 5px;
  height: 5px;
  animation-duration: 26s;
  animation-delay: -20s;
  top: 57vh;
}
.comet:nth-child(22) {
  width: 9px;
  height: 9px;
  animation-duration: 20s;
  animation-delay: 0s;
  top: 31vh;
}
.comet:nth-child(23) {
  width: 8px;
  height: 8px;
  animation-duration: 26s;
  animation-delay: -21s;
  top: 27vh;
}
.comet:nth-child(24) {
  width: 10px;
  height: 10px;
  animation-duration: 38s;
  animation-delay: -21s;
  top: 66vh;
}
.comet:nth-child(25) {
  width: 5px;
  height: 5px;
  animation-duration: 17s;
  animation-delay: -29s;
  top: 37vh;
}
.comet:nth-child(26) {
  width: 9px;
  height: 9px;
  animation-duration: 23s;
  animation-delay: -34s;
  top: 22vh;
}
.comet:nth-child(27) {
  width: 10px;
  height: 10px;
  animation-duration: 30s;
  animation-delay: -21s;
  top: 64vh;
}
.comet:nth-child(28) {
  width: 7px;
  height: 7px;
  animation-duration: 36s;
  animation-delay: -21s;
  top: 12vh;
}
.comet:nth-child(29) {
  width: 8px;
  height: 8px;
  animation-duration: 37s;
  animation-delay: -28s;
  top: 27vh;
}
.comet:nth-child(30) {
  width: 8px;
  height: 8px;
  animation-duration: 43s;
  animation-delay: 0s;
  top: 97vh;
}
.comet:nth-child(31) {
  width: 8px;
  height: 8px;
  animation-duration: 41s;
  animation-delay: -23s;
  top: 39vh;
}
.comet:nth-child(32) {
  width: 8px;
  height: 8px;
  animation-duration: 25s;
  animation-delay: -7s;
  top: 25vh;
}
.comet:nth-child(33) {
  width: 4px;
  height: 4px;
  animation-duration: 26s;
  animation-delay: -16s;
  top: 29vh;
}
.comet:nth-child(34) {
  width: 6px;
  height: 6px;
  animation-duration: 26s;
  animation-delay: -23s;
  top: 52vh;
}
.comet:nth-child(35) {
  width: 10px;
  height: 10px;
  animation-duration: 31s;
  animation-delay: -34s;
  top: 0vh;
}
.comet:nth-child(36) {
  width: 9px;
  height: 9px;
  animation-duration: 19s;
  animation-delay: -1s;
  top: 74vh;
}
.comet:nth-child(37) {
  width: 4px;
  height: 4px;
  animation-duration: 28s;
  animation-delay: -17s;
  top: 79vh;
}
.comet:nth-child(38) {
  width: 5px;
  height: 5px;
  animation-duration: 40s;
  animation-delay: -38s;
  top: 13vh;
}
.comet:nth-child(39) {
  width: 4px;
  height: 4px;
  animation-duration: 37s;
  animation-delay: -39s;
  top: 50vh;
}
.comet:nth-child(40) {
  width: 5px;
  height: 5px;
  animation-duration: 23s;
  animation-delay: -12s;
  top: 5vh;
}
.comet:nth-child(41) {
  width: 9px;
  height: 9px;
  animation-duration: 32s;
  animation-delay: -37s;
  top: 81vh;
}
.comet:nth-child(42) {
  width: 5px;
  height: 5px;
  animation-duration: 25s;
  animation-delay: -25s;
  top: 62vh;
}
.comet:nth-child(43) {
  width: 5px;
  height: 5px;
  animation-duration: 32s;
  animation-delay: 0s;
  top: 4vh;
}
.comet:nth-child(44) {
  width: 10px;
  height: 10px;
  animation-duration: 38s;
  animation-delay: -39s;
  top: 65vh;
}
.comet:nth-child(45) {
  width: 4px;
  height: 4px;
  animation-duration: 37s;
  animation-delay: -5s;
  top: 13vh;
}
.comet:nth-child(46) {
  width: 5px;
  height: 5px;
  animation-duration: 42s;
  animation-delay: -17s;
  top: 40vh;
}
.comet:nth-child(47) {
  width: 4px;
  height: 4px;
  animation-duration: 24s;
  animation-delay: -22s;
  top: 7vh;
}
.comet:nth-child(48) {
  width: 5px;
  height: 5px;
  animation-duration: 39s;
  animation-delay: -6s;
  top: 49vh;
}
.comet:nth-child(49) {
  width: 7px;
  height: 7px;
  animation-duration: 38s;
  animation-delay: -21s;
  top: 54vh;
}
.comet:nth-child(50) {
  width: 8px;
  height: 8px;
  animation-duration: 33s;
  animation-delay: -5s;
  top: 66vh;
}
.comet:nth-child(51) {
  width: 9px;
  height: 9px;
  animation-duration: 21s;
  animation-delay: -26s;
  top: 53vh;
}
.comet:nth-child(52) {
  width: 9px;
  height: 9px;
  animation-duration: 20s;
  animation-delay: -17s;
  top: 30vh;
}
.comet:nth-child(53) {
  width: 8px;
  height: 8px;
  animation-duration: 42s;
  animation-delay: -29s;
  top: 70vh;
}
.comet:nth-child(54) {
  width: 5px;
  height: 5px;
  animation-duration: 24s;
  animation-delay: -3s;
  top: 48vh;
}
.comet:nth-child(55) {
  width: 10px;
  height: 10px;
  animation-duration: 24s;
  animation-delay: -4s;
  top: 24vh;
}
.comet:nth-child(56) {
  width: 5px;
  height: 5px;
  animation-duration: 31s;
  animation-delay: -18s;
  top: 100vh;
}
.comet:nth-child(57) {
  width: 6px;
  height: 6px;
  animation-duration: 40s;
  animation-delay: -17s;
  top: 56vh;
}
.comet:nth-child(58) {
  width: 7px;
  height: 7px;
  animation-duration: 35s;
  animation-delay: -7s;
  top: 82vh;
}
.comet:nth-child(59) {
  width: 4px;
  height: 4px;
  animation-duration: 40s;
  animation-delay: -17s;
  top: 29vh;
}
.comet:nth-child(60) {
  width: 7px;
  height: 7px;
  animation-duration: 24s;
  animation-delay: -25s;
  top: 15vh;
}
.comet:nth-child(61) {
  width: 4px;
  height: 4px;
  animation-duration: 28s;
  animation-delay: -25s;
  top: 54vh;
}
.comet:nth-child(62) {
  width: 10px;
  height: 10px;
  animation-duration: 40s;
  animation-delay: -34s;
  top: 82vh;
}
.comet:nth-child(63) {
  width: 10px;
  height: 10px;
  animation-duration: 19s;
  animation-delay: -22s;
  top: 17vh;
}
.comet:nth-child(64) {
  width: 8px;
  height: 8px;
  animation-duration: 36s;
  animation-delay: 0s;
  top: 84vh;
}
.comet:nth-child(65) {
  width: 7px;
  height: 7px;
  animation-duration: 34s;
  animation-delay: -4s;
  top: 1vh;
}
.comet:nth-child(66) {
  width: 6px;
  height: 6px;
  animation-duration: 33s;
  animation-delay: -21s;
  top: 94vh;
}
.comet:nth-child(67) {
  width: 10px;
  height: 10px;
  animation-duration: 16s;
  animation-delay: -13s;
  top: 92vh;
}
.comet:nth-child(68) {
  width: 10px;
  height: 10px;
  animation-duration: 41s;
  animation-delay: -6s;
  top: 12vh;
}
.comet:nth-child(69) {
  width: 8px;
  height: 8px;
  animation-duration: 19s;
  animation-delay: -8s;
  top: 72vh;
}
.comet:nth-child(70) {
  width: 4px;
  height: 4px;
  animation-duration: 30s;
  animation-delay: -35s;
  top: 54vh;
}

@keyframes comet {
  from {
  transform: translate3d(-100%, 0, 1px);
 }
  to {
  transform: translate3d(100vw, 0, 1px);
 }
}