@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--font-family);
}

body {
	font-family: var(--font-family);
	background: black;
	display: grid;
	justify-content: center;
	grid-gap: 1rem;
	height: 100vh;
}

#endGame {
	display: none;
	position: absolute;
	z-index: 2;
	color: white;
	font-family: var(--font-family);
  left: 0;
  top: 50%;
  width: 100%;
  font-weight: 400;
  font-size: 4rem;
  text-align: center;
  transform: translateY(-50%);
}

.container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2rem;
	align-items: start;
	z-index: 1;
}

.container__box {
	padding: 2rem;
	background: #808080
}

.container__box__header--left, .container__box__header--right {
	color: white;
	text-align: center;
	padding-bottom: 0.5rem;
	height: 3.5rem;
}

.container__box__header--right.invalid {
	color: red;
}

.container__box__header--left.finished, .container__box__header--right.finished {
	color: green;
}

.container__box--left, .container__box--right {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1rem;
	padding: 1rem;
	align-items: center;
	border-radius: 1rem;
	box-shadow: 0px 2px 8px 0px #37474f;
}

.container__box--left {
	border: solid white;
	background:black
}

.container__box--left--led {
	padding: 1.5rem;
}

.container__box--left--led.active, .container__box--right--pad.clickedPad {
	background: #28a4da !important;
}

.container__box--right--pad {
	padding: 1.18rem;
	background: #808080;
	box-shadow: 0px 10px 10px;
	border-radius: 0.5rem;
	border: 6px solid #808080;
	border-top-color: #959595;
}

.container__box--right--pad.active {
	cursor: pointer;
	background: #d0cdcd;
	box-shadow: 0px 10px 10px #4e4e4e;
	border: 6px solid #d0cdcd;
	border-top-color: #ececec;
}

.container__box--right--pad.finished {
	background: green;
	border: 6px solid #167b16;
	border-top-color: #8ab18a;
}

.container__box--right--pad.clickedPad {
	border: 6px solid #28a4da;
	border-top-color: #28a4da;
}

.controls {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	z-index: 1;
}

.controls__block {
	height: 104px;
	background-color: #fff;
	margin: 1px;
}

.controls__block__label {
	color: #bdc4d4;
	font-size: 12px;
	font-weight: 800;
	padding: 12px 16px 0;
	margin-bottom: 22px;
	display: block;
}

.controls__button {
	color: #fff;
	padding-top: 59px !important;
	margin: 0 1px;
	padding: 0.875rem 1.5rem;
	font-size: 1.25rem;
	background-color: #808080;
	border-color: #808080;
	font-weight: 400;
	line-height: 1.5;
	text-decoration: none;
	vertical-align: middle;
	border: 1px solid transparent;
}

.controls__button:hover {
	cursor: pointer;
}

.controls__button:disabled {
	cursor: auto;
	color: rgba(255, 255, 255, 0.3);
}

@media only screen and (max-width: 768px){
	.container {
		grid-template-columns: 1fr;
		padding-top: 1rem;
	}
}